################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BankApplication/bin
/BankApplication/obj/ARM/Debug
/BankApplication/obj/x64/Debug/.winmd_cache
/BankApplication/obj/x64/Debug/embed
/BankApplication/obj/x64/Debug/intermediatexaml
/BankApplication/obj/x64/Debug/unfiltered.layout.resfiles.intermediate
/BankApplication/obj/x64/Debug/unfiltered.layout.resfiles
/BankApplication/obj/x64/Debug/resources.resfiles.intermediate
/BankApplication/obj/x64/Debug/resources.resfiles
/BankApplication/obj/x64/Debug/ResourceHandlingTask.state
/BankApplication/obj/x64/Debug/qualifiers.txt.intermediate
/BankApplication/obj/x64/Debug/qualifiers.txt
/BankApplication/obj/x64/Debug/ProjectArchitectures.txt
/BankApplication/obj/x64/Debug/priconfig.xml.intermediate
/BankApplication/obj/x64/Debug/priconfig.xml
/BankApplication/obj/x64/Debug/pri.resfiles.intermediate
/BankApplication/obj/x64/Debug/pri.resfiles
/BankApplication/obj/x64/Debug/MultipleQualifiersPerDimensionFound.txt
/BankApplication/obj/x64/Debug/MainPage.xbf
/BankApplication/obj/x64/Debug/filtered.layout.resfiles.intermediate
/BankApplication/obj/x64/Debug/filtered.layout.resfiles
/BankApplication/obj/x64/Debug/excluded.layout.resfiles.intermediate
/BankApplication/obj/x64/Debug/excluded.layout.resfiles
/BankApplication/obj/x64/Debug/BankApplication.xr.xml
/BankApplication/obj/x64/Debug/BankApplication.pdb
/BankApplication/obj/x64/Debug/BankApplication.exe
/BankApplication/obj/x64/Debug/BankApplication.csprojAssemblyReference.cache
/BankApplication/obj/x64/Debug/BankApplication.csproj.FileListAbsolute.txt
/BankApplication/obj/x64/Debug/BankApplication.csproj.CopyComplete
/BankApplication/obj/x64/Debug/App.xbf
