
.vs/BankApplication/v16/.suo
.vs/BankApplication/v16/Server/sqlite3/storage.ide
.vs/BankApplication/v16/Server/sqlite3/storage.ide-shm
.vs/BankApplication/v16/Server/sqlite3/storage.ide-wal
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
